html, body{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin:0;
}

.top-bar {
    background: gray;
    border-bottom: 1px solid white;
    height: 40px;
}

.container {
    display: flex;
    height: calc(100vh - 41px);
}

.right-panels {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    border-left: 1px solid white;
    @media screen and (max-width: 1000px){
        width: 25%;
    }
}