.icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    cursor: pointer;
    @media screen and (min-width: 768px){
        display: none;
    }
}

.icon-menu-bar {
    background: #F2F2EB;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    position: relative;
}

.icon-menu-bar:after, .icon-menu-bar:before{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    top: -.5em;
    background: #F2F2EB;
}

.icon-menu-bar:after {
    top: .5em;
}

.icon-menu:hover {
    background: lightpink;
}

.menu {
    width: max-content;
    background: #EE9999;
    padding: 0;
    margin: 0;
    list-style: none;

    transform: translateX(-100%);
    transition: transform .1s;

    @media screen and (min-width: 768px){
        display: flex;
        justify-content: space-evenly;
        transform: translateX(0);
    }
}

.menu-show {
    transform: translateX(0%);
}

.menu-item {
    color: #F2F2EB;
    text-decoration: none;
    height: 30px;
    padding: 10px 15px 0px 15px;
    border-top: 1px solid #F2F2EB;
    cursor: pointer;
    @media screen and (min-width: 768px){
        border-top: none;
        border-right:  1px solid #F2F2EB;
    }
}

.menu-item:hover {
    background: lightpink;
}

.top-bar section {
    width: max-content;
    float: right;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.top-bar section p {
    margin: 0;
    height: 30px;
    padding: 10px 15px 0px 15px;
    border-left: 1px solid #F2F2EB;
}

#creditos-malla {
    color: #F2F2EB;
}

#creditos-nivelatorias {
    color: #F2F2EB;
}

#creditos-libres {
    color: #F2F2EB;
}