.right-top-panel {
    background-color: #CF9999;
    overflow: auto;
    flex: 1;
}

.right-top-panel::-webkit-scrollbar {
    width: 7px;
    background-color: #1F818C;
}

.right-top-panel::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #CF9999;
    border-radius: 7px;
}