.main-panel {
    background-color: #F2F2EB;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
}

.main-panel::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: #F2F2EB;
}

.main-panel::-webkit-scrollbar-thumb {
    height: 10px;
    width: 10px;
    background-color: cadetblue;
    border-radius: 10px;
}

.contenedor-semestre {
    width: 150px;
    margin: 0;
    margin-top: 13px;
    display: inline-block;
}

.contenedor-semestre p {
    margin: 0;
    display: block;
    color: #1F818C;
    background: none;
    width: 100%;
    text-align: center;
}

.semestre {
    font-weight: 900;
}

.credito {
    font-weight: 500;
    padding-bottom: 5px;
}

.materia {
    display: block;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:#dddbcf;
    width: 130px;
    height: 100px;
    border-radius: 10px;
}

.materia:hover {
    cursor: pointer;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}